@import url("./");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

$dark-grey: #171717;
$gold: #D6A85A;
$tan: #EAE3DB;

html {
    background-color: $tan;
    width: 100vw;
    height: 100%;
}

body {
    background-color: $tan;
    width: 100vw;
    height: 100%;
}

h1 {
    background-color: #171717;
}

.serif-font {
    font-family: 'Playfair Display', serif;
}