@import url("./bulma.scss");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manjari|Montserrat|Nunito+Sans|Work+Sans&display=swap");
@-webkit-keyframes linkColorFade {
  from {
    fill: #000000;
    color: #000000;
  }
  to {
    fill: #D6A85A;
    color: #D6A85A;
  }
}
@keyframes linkColorFade {
  from {
    fill: #000000;
    color: #000000;
  }
  to {
    fill: #D6A85A;
    color: #D6A85A;
  }
}

@-webkit-keyframes linkBackFade {
  from {
    background-color: argb(0, 0, 0, 0);
    color: #313131;
  }
  to {
    background-color: #313131;
    color: #FFF;
  }
}

@keyframes linkBackFade {
  from {
    background-color: argb(0, 0, 0, 0);
    color: #313131;
  }
  to {
    background-color: #313131;
    color: #FFF;
  }
}

@-webkit-keyframes scrollArrowBounce {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes scrollArrowBounce {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

.anim_link-underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.anim_link-underline:after {
  display: block;
  content: '';
  border-bottom: solid 2px #FFF;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.anim_link-underline:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

iframe {
  width: 100%;
  height: 100%;
}

.serif-font {
  font-family: 'Courier New', Courier, monospace;
}

.sansserif-font {
  font-family: 'Muli', sans-serif;
}

.catamaran-font {
  font-family: 'Catamaran', sans-serif;
}

.nunito-font {
  font-family: 'Nunito Sans', sans-serif;
}

hr.mini-gold {
  width: 60px;
  height: 0px;
  border: 1px solid #999999;
  margin-top: .5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  margin: 0;
  color: #313131 !important;
}

h1 {
  font-weight: 300;
}

#main-content {
  width: 60%;
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  font-size: 1.1rem;
}

#landing-view {
  min-height: 100vh;
}

#hero {
  width: 60%;
  margin: 0 auto;
  margin-top: 30vh;
}

#hero h1 {
  font-weight: 200;
  font-size: 70px;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: .4rem;
  line-height: 1;
}

#hero-links {
  margin-top: 2rem;
}

#hero a {
  margin-left: 2rem;
}

#hero span {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: scrollArrowBounce 2s 1;
          animation: scrollArrowBounce 2s 1;
}

#main-content h1 {
  font-size: 50px;
  line-height: 1;
}

#main-content h2 {
  font-size: 45px;
  line-height: 1;
  font-weight: 300;
}

a {
  display: inline;
  color: #313131 !important;
  padding: .3rem;
  font-weight: 500;
  width: auto;
  text-decoration: underline !important;
}

a:hover {
  background-color: #313131;
  color: #FFF !important;
  -webkit-animation-name: linkBackFade;
  -webkit-animation-duration: .3s;
  animation-name: linkBackFade;
  animation-duration: .3s;
}

.a-invis {
  background-color: argb(0, 0, 0, 0);
}

.a-invis:hover {
  background-color: argb(0, 0, 0, 0) !important;
}

#about {
  padding: 3rem 0;
  margin-bottom: 8rem;
}

#about a {
  padding: 0rem;
}

#about p {
  width: 85%;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #999999;
}

.project {
  margin-bottom: 10rem;
}

.project img {
  border-radius: 4px;
}

.project svg {
  vertical-align: middle;
  margin-right: .2rem;
}

.project a {
  font-size: 14px;
}

.stack p {
  display: inline;
  font-size: 14px;
}

#skills p {
  margin-bottom: .4rem;
  font-weight: 400;
}

#skills ul {
  margin-top: 0px;
}

#skills li {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.3;
}

#work h1 {
  font-size: 50px;
  line-height: 1;
}

#mywork {
  padding-bottom: 20%;
}

#socials-links {
  position: fixed;
  bottom: 0px;
  left: 40px;
}

#socials-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#socials-links ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 110px;
  background-color: #FFF;
  margin: 0 auto;
}

#socials-links li {
  width: 1.3rem;
  height: auto;
  margin-bottom: 1rem;
}

#socials-links svg, #socials-links a {
  width: 1.3rem;
  height: auto;
}

#socials-links a:hover > svg {
  -webkit-animation-name: linkColorFade;
  -webkit-animation-duration: .3s;
  animation-name: linkColorFade;
  animation-duration: .3s;
  fill: #D6A85A;
  color: #D6A85A;
}

#contact {
  padding-bottom: 20rem;
}

#contact p {
  color: #999999;
  width: 60%;
  font-size: 1.3rem;
}

.nuget-logo {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: .3rem;
  fill: #000;
}

.page-footer {
  text-align: center;
  font-size: 14px;
  color: #999999;
}

@media only screen and (max-width: 375px) {
  #hero {
    margin-left: 2rem;
    margin-right: 0px;
    width: 100%;
  }
  #hero h1 {
    font-size: 34px;
  }
  #hero a {
    font-size: 14px;
    margin-left: 1rem;
  }
  #main-content {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #about {
    margin-bottom: -2rem;
  }
  #about p {
    width: 100%;
    font-size: 15px;
  }
}
