@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura\ Light\ Regular.otf');
    src: url('fonts/Futura\ Light\ Regular.otf') format('opentype');
}

body {
    font-family: monospace;
    background-color: #F5F5F5;
    padding-top: 1.3%;
    margin-left: 0%;
    font-size: 14px
}

li {
    text-align: -webkit-match-parent;
}

mark {
    color: #353735;
    background-color: #efefef;   
}

mark:hover {
    color: #efefef;
    background-color: #4c4c4c;
}

mark a {
    text-decoration: none;
    font-weight: 500;
    color: #070c10;
}

mark a:hover {
    text-decoration: underline;
    color: #efefef;
}

a.normal {
    color: #353735;
    text-decoration: underline;
}

a.normal:hover {
    background-color: #4c4c4c;
    color: #efefef;
    text-decoration: underline;
}

a.footer-links {
    display: inline;
}

.footer-img {
    display: inline;
    width: 35;
    height: 35;
    border: 0;
}

.asText {
    display: inline;
    font-size: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    background-color: #F5F5F5;
}

.div-block {
    display: inline-block
}

.li-text-heading {
    display: inline
}

.li-details {
    padding-left: 1%;
    text-overflow: ellipsis;
    max-width: 55%
}

.li-details-date {
    display: inline;
}

img.li-details-projectinfo {
    width: 10;
    height: 10;
    padding-top: .2%;
    padding-left: .5%;
    vertical-align: middle;
}

p.li-details-projectinfo {
    display: inline;
}

.contact-info {
    display: inline;
}

a.mailto-link {
    color: #353735;
    text-decoration: underline;
}

a.mailto-link:hover {
    background-color: #4c4c4c;
    color: #efefef;
    text-decoration: underline;
}

button.toggle-menus {
    padding-left: 20%;
    margin-bottom: 20%;
}