@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura\ Light\ Regular.otf');
    src: url('fonts/Futura\ Light\ Regular.otf') format('opentype');
}

#site-container {
    margin-top: 1rem;
    max-width: 1200px;
    margin-bottom: 2rem;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #F5F5F5;
    font-size: 14px
}

a {
    text-decoration: underline;
    font-weight: 500;
    color: #070c10;
}

a:hover {
    text-decoration: underline;
    color: #efefef;
    background-color: #4c4c4c;
}

mark {
    color: #353735;
    background-color: #efefef;   
}

mark:hover {
    color: #efefef;
    background-color: #4c4c4c;
}

mark a {
    text-decoration: none;
    font-weight: 500;
    color: #070c10;
}

mark a:hover {
    text-decoration: underline;
    color: #efefef;
}

a.normal {
    color: #353735;
    text-decoration: underline;
}

a.normal:hover {
    background-color: #4c4c4c;
    color: #efefef;
    text-decoration: underline;
}

a.footer-links {
    display: inline;
}

.sidebar {
    max-width: 400px;
}

.sidebar-row {
    padding-left: 15%;
    padding-top: 7% 
}

.sidebar-image-links a {
    background-color: rgba(0, 0, 0, 0) !important; 
}

.sidebar-image-links-image {
    padding-left: 100%
}

.content-card h1 {
    font-size: 16px;
    display: inline;
}

.content-card-details {
    padding-left: 5%
}

.content-card-details-counters img {
    width: 10;
    height: 10;
    padding-top: .2%;
    padding-left: .5%;
    vertical-align: middle;
}

.content-card-details-counters p {
    display: inline;
}

.content-card-details-counters a:hover {
    background-color: currentColor !important; 
}

.content-card-details a {
    display: inline;
}

.asText {
    display: inline;
    font-size: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    background-color: #F5F5F5;
}

.contact-info {
    display: inline;
}

a.mailto-link {
    color: #353735;
    text-decoration: underline;
}

a.mailto-link:hover {
    background-color: #4c4c4c;
    color: #efefef;
    text-decoration: underline;
}

button.toggle-menus {
    padding-left: 20%;
    margin-bottom: 20%;
}

.sidebar-profilepic {
    width: 50%;
    padding-left: 15%;
    border-radius: 200px
}

#site-header {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#site-header h1 {
    text-align: center;
}

#site-header p {
    text-align: center;
    margin-bottom: 0px;
}

#header-img-links {
    margin-top: 1rem;
}

#header-img-links img {
    width: 45;
    height: 45;
    border: 0;
}

@media only screen and (max-width: 760px) {
    #site-header {
        margin-bottom: 2rem;
    }
}