@import "./solarized/solarized.scss";

$transparent: argb(0, 0, 0, 0);
/*
$dark-grey: #171717;
$gold: #D6A85A;
$gold-dark: #AA6C39;
$tan: #EAE3DB;

$scheme2-dark: #313131;
$scheme2-medium: #999999;
$scheme2-light: #CCCCCC;

$scheme3-0: #C48978;
$scheme3-1: #AE6A56;
$scheme3-1_sat-boost: #c05f43;
$scheme3-2: #94503D;
$scheme3-3: #853A25;
$scheme3-4: #67210D;

.color-1_sat-boost {
    color: $scheme3-1_sat-boost;
}*/