@import "./colors/colors.scss";
@import "./animations.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,500,600,700&display=swap');

html {
    scroll-behavior: smooth;
}

html, .dark { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3) }
.light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}

body {
    background-color: $base03 !important;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Montserrat' !important;
    font-size: 4.5rem;
    font-weight: bold;
}

#main-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: -4rem;
    flex: 1 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    
    #bio {
        width: 60%;
    }

    #socials {
        a {
            margin-right: .7rem;
        }
    }
}

// collapsible css is from https://alligator.io/css/collapsible/
#boring-link {
    input[type='checkbox'] {
        display: none;
    }

    .wrap-collabsible {
        margin-bottom: 1.2rem 0;
    }
      
    input[type='checkbox'] {
        display: none;
    }
      
    .lbl-toggle {
        display: block;
        font-size: .8rem;
      
        padding: 1rem;
        color: $magenta;
      
        cursor: pointer;
      
        border-radius: 7px;
        transition: all 0.25s ease-out;
    }
      
    .lbl-toggle::before {
        content: ' ';
        display: inline-block;
      
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
      
        transition: transform .2s ease-out;
    }
      
    .toggle:checked + .lbl-toggle::before {
        transform: rotate(90deg) translateX(-3px);
    }
      
    .collapsible-content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
        margin-left: 2rem;
        width: 70%;
        font-size: .8rem;

        p {
            font-size: .9rem;
            margin-top: 0px;
        }

        a {
            margin-left: .3rem;
        }
    }
      
    .toggle:checked + .lbl-toggle + .collapsible-content {
        max-height: 350px;
    }

    .desktop-float-left {
        float: left;
    }

    .boring-item {
        margin-bottom: .5rem;

        p {
            display: inline;
        }
    }
}

footer {
    flex-shrink: 0;
    margin-top: 3rem;
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
    height: 2rem;
    filter: opacity(.4);

    &:hover {
        filter: opacity(1);
        animation: opacityFade .25s ease-out;
    }

    svg {
        height: 1.6rem;
        width: auto;
    }

    p {
        margin-top: 0rem;
        font-size: .7rem;
    }

    .left { float: left; }
    .right { float: right; }
}

#logo {
    height: 1.6rem;
    width: auto;
    top: 0;
    margin-left: .5rem;
}

// 4k
@media only screen and (min-width: 2160px) {
    #main-content {
        font-size: 2.5rem;

        h1 {
            font-size: 15rem;
        }

        #bio {
            width: 80%;
        }
    }

    #boring-link {
        font-size: 2.2rem;

        .lbl-toggle {
            font-size: 2rem;
        }

        .lbl-toggle::before {
            content: ' ';
            display: block;
        
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid currentColor;
            margin-right: 1.5rem;
            transform: translateY(-2px);
        
            transition: transform .2s ease-out;
        }

        .collapsible-content {
            width: 95%;
        }

        .content-inner {
            font-size: 2.2rem;
        }

        .boring-item {
            p {
                font-size: 2.2rem;
            }
        }

        .toggle:checked + .lbl-toggle + .collapsible-content {
            max-height: 100rem;
        }
    }

    footer {
        font-size: 2.1rem;

        svg {
            height: 3rem;
            width: 3rem;
        }
    }
}

@media only screen and (max-width: 375px) {
    .hide-mobile {
        display: none;
    }

    #main-content {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0rem;
        font-size: 1rem;

        h1 {
            font-size: 3.5rem;
            margin-bottom: 0rem;
        }

        #bio {
            width: 95%;
            margin: 0 auto;
        }
    }
     
    #socials {
        margin-bottom: 1rem;
        margin-left: .5rem;
    }

    #boring-link {
        .lbl-toggle {
            font-size: .9rem;
            font-weight: bold;
        }

        .collapsible-content {
            p {
                display: block;
                margin-bottom: 0px;
            }

            a {
                display: block;
            }
        }

        .toggle:checked + .lbl-toggle + .collapsible-content {
            max-height: 100rem;
        }

        .desktop-float-left {
            float: none;
        }

        .boring-item {
            div {
                margin-left: .5rem;
            }
        }
    }

    footer {
        padding-top: 0rem;
        margin-top: 0rem;
    }
}